<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trxy.redbookauth.mapper.RolePermissionRelMapper">
    <insert id="insert" parameterType="com.trxy.redbookauth.entity.dto.RolePermissionRelDO">
        INSERT INTO role_permission_rel (role_id, permission_id, create_time, update_time, is_deleted)
        VALUES (#{roleId}, #{permissionId}, #{createTime}, #{updateTime}, #{isDeleted})
    </insert>
    <update id="update" parameterType="com.trxy.redbookauth.entity.dto.RolePermissionRelDO">
        UPDATE role_permission_rel
        SET role_id = #{roleId}, permission_id = #{permissionId}, update_time = #{updateTime}, is_deleted = #{isDeleted}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="Long">
        DELETE FROM role_permission_rel WHERE id = #{id}
    </delete>
    <select id="selectById" parameterType="Long" resultType="com.trxy.redbookauth.entity.dto.RolePermissionRelDO">
        SELECT * FROM role_permission_rel WHERE id = #{id}
    </select>
    <select id="selectByRoleIds" resultType="com.trxy.redbookauth.entity.dto.RolePermissionRelDO">
        SELECT role_id, permission_id FROM role_permission_rel WHERE role_id IN
        <foreach collection="list" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>
</mapper>
